<!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
<link rel="stylesheet" type="text/css" href="http://assets.cookieconsent.silktide.com/current/style.min.css"/>
<script type="text/javascript" src="http://assets.cookieconsent.silktide.com/current/plugin.min.js"></script>
<script type="text/javascript">
// <![CDATA[
cc.initialise({
  cookies: {
    analytics: {},
    advertising: {},
    social: {}
  },
  settings: {
    consenttype: "implicit",
    style: "light",
    hideprivacysettingstab: true
  }
});
// ]]>
</script>
<!-- End Cookie Consent plugin -->