body > header {
  background: $header-bg;
  text-align: center;
  h1 {
    font-family: 'Merienda', cursive;
    font-size: 48px;
    margin-bottom: 6px;
    a, a:visited, a:hover {
      color: $title_color;
      text-decoration: none;
    }
  }
  h2 {
    @extend .sans;
    font-size: 16px;
    color: $subtitle-color;
    font-weight: normal;
  }
}
